In [38]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Reading the Wine Data Set CSV file

In [39]:
df = pd.read_csv("WineQT.csv")

# Using apply
I am using apply function to make the values of quality either 1 or 0 based on given threshold value.
<br>Threshold : <br>
0 : value<=6<br>
1 : value>6

In [40]:
df['quality'] = df['quality'].apply(lambda x: 0 if x <= 6 else 1)
df.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
452,9.6,0.880,0.28,2.4,0.086,30.0,147.0,0.99790,3.24,0.53,9.4,0,636
1036,7.6,0.490,0.33,1.9,0.074,27.0,85.0,0.99706,3.41,0.58,9.0,0,1457
404,13.0,0.470,0.49,4.3,0.085,6.0,47.0,1.00210,3.30,0.68,12.7,0,564
910,7.9,0.765,0.00,2.0,0.084,9.0,22.0,0.99619,3.33,0.68,10.9,0,1282
469,7.2,0.520,0.07,1.4,0.074,5.0,20.0,0.99730,3.32,0.81,9.6,0,660

# Normalizing Other attributes by Min - Max Scaling

since we have to apply min-max scaling on all columns other than quality, hence we are dropping the column

In [41]:
others = df.drop(columns=['quality'])

# without using Scikit learn class

In [42]:
others2 = df.drop(columns=['quality'])
def scaledData(feature):
    min_val = feature.min()
    max_val = feature.max()
    return (feature - min_val) / (max_val - min_val)

# Running a loop to apply normalization to each feature
for feature in others2.columns:
    others2[feature] = scaledData(others2[feature])

In [44]:
others2['quality'] = df['quality']
others2.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Id,quality
599,0.486726,0.130137,0.35,0.047945,0.105175,0.119403,0.077739,0.488253,0.393701,0.299401,0.430769,0.524734,1
173,0.221239,0.383562,0.07,0.068493,0.105175,0.223881,0.159011,0.497797,0.503937,0.113772,0.169231,0.154039,0
291,0.212389,0.315068,0.12,0.068493,0.131886,0.492537,0.416961,0.406021,0.551181,0.089820,0.323077,0.261115,0
879,0.327434,0.301370,0.22,0.102740,0.116861,0.134328,0.282686,0.604258,0.496063,0.173653,0.169231,0.778334,0
890,0.353982,0.352740,0.68,0.061644,0.652755,0.268657,0.176678,0.458884,0.220472,0.491018,0.138462,0.788979,0

# With using scikit learn class

In [45]:
minMaxScalar = MinMaxScaler()

# Fitting and transforming the data
nArray = minMaxScalar.fit_transform(others)

# Since, nArray is an np-array, we have to convert it to dataFrame
dfNew = pd.DataFrame(nArray, columns=others.columns)

# Add the quality column back to dfNew
dfNew['quality'] = df['quality']

In [47]:
# Sample of new data frame
dfNew.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Id,quality
883,0.256637,0.315068,0.14,0.089041,0.108514,0.388060,0.190813,0.457416,0.425197,0.155689,0.215385,0.783344,0
242,0.557522,0.184932,0.47,0.061644,0.176962,0.074627,0.028269,0.596916,0.440945,0.251497,0.215385,0.214778,0
433,0.761062,0.178082,0.55,0.123288,0.115192,0.059701,0.035336,0.773128,0.188976,0.125749,0.153846,0.382592,0
931,0.300885,0.726027,0.21,0.068493,0.118531,0.194030,0.123675,0.385463,0.472441,0.083832,0.323077,0.821540,0
18,0.150442,0.184932,0.16,0.034247,0.113523,0.149254,0.060071,0.398678,0.472441,0.137725,0.138462,0.015654,0