In [13]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Reading the Wine Data Set CSV file

In [7]:
df = pd.read_csv("WineQT.csv")

# Using apply
I am using apply function to make the values of quality either 1 or 0 based on given threshold value.
<br>Threshold : <br>
0 : value<=6<br>
1 : value>6

In [10]:
df['quality'] = df['quality'].apply(lambda x: 0 if x <= 6 else 1)
df.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
696,7.7,0.39,0.12,1.7,0.097,19.0,27.0,0.99596,3.16,0.49,9.4,0,990
448,7.6,0.41,0.14,3.0,0.087,21.0,43.0,0.99640,3.32,0.57,10.5,0,632
742,8.9,0.48,0.53,4.0,0.101,3.0,10.0,0.99586,3.21,0.59,12.1,0,1056
960,7.2,0.62,0.01,2.3,0.065,8.0,46.0,0.99332,3.32,0.51,11.8,0,1351
765,8.5,0.34,0.40,4.7,0.055,3.0,9.0,0.99738,3.38,0.66,11.6,0,1086

# Normalizing Other attributes by Min - Max Scaling

since we have to apply min-max scaling on all columns other than quality, hence we are dropping the column

In [17]:
others = df.drop(columns=['quality'])

I am using the MinMaxScaler class provided by sklearn for this task.

In [ ]:
minMaxScalar = MinMaxScaler()

# Fitting and transforming the data
nArray = minMaxScalar.fit_transform(others)

# Since, nArray is an np-array, we have to convert it to dataFrame
dfNew = pd.DataFrame(nArray, columns=others.columns)

# Add the quality column back to dfNew
dfNew['quality'] = df['quality']

In [20]:
# Sample of new data frame
dfNew.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Id,quality
566,0.353982,0.349315,0.17,0.136986,0.145242,0.298507,0.399293,0.582232,0.275591,0.113772,0.138462,0.494051,0
586,0.707965,0.198630,0.54,0.130137,0.151920,0.268657,0.123675,0.684288,0.370079,0.257485,0.446154,0.509706,0
151,0.283186,0.421233,0.08,0.102740,0.133556,0.134328,0.123675,0.538179,0.393701,0.227545,0.215385,0.134001,0
678,0.221239,0.301370,0.14,0.047945,0.110184,0.089552,0.042403,0.429515,0.417323,0.173653,0.138462,0.601753,0
633,0.327434,0.130137,0.39,0.102740,0.110184,0.238806,0.130742,0.320852,0.448819,0.263473,0.630769,0.561052,0